$background-color: white; /* Nền trắng */
$title-color: black; /* Màu chữ chính */
$input-background-color: white; /* Nền ô nhập liệu */
$input-border-color: lightgray; /* Màu viền ô nhập liệu */
$placeholder-color: gray; /* Màu placeholder */
$tint-color: green; /* Màu xanh của nút Đăng nhập */
$divider-color: lightgray; /* Màu chia cách */
$link-color: blue; /* Màu liên kết */
$checkbox-color: black; /* Màu chữ checkbox */

.container {
    color: $title-color;
    height: 100vh;
}
.login-form {
    background-color: $background-color;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid $divider-color;
    align-items: center;
    justify-content: center;
}
.login-header {
    text-align: center;
    color: $title-color;
    margin-bottom: 20px;
}
.form-control {
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    color: $title-color;
}
.form-control:focus {
    color: $title-color;
    background-color: $input-background-color;
    outline: none;
    border-color: $tint-color;    
}

.divider-nospace {
    border-top: 1px solid $divider-color;
}

.password-field {
    position: relative;
}
.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $title-color;
    cursor: pointer;
}
.checkbox-text {
    color: $checkbox-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox-text input[type="checkbox"]:checked {
    border-color: $tint-color;
    background-color: $tint-color;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: $link-color;
    text-decoration: none;
}
.access-right {
    margin-top: 20px;
    width: 200px;
    color: $title-color;
    background-color: $background-color;
    border: 1px solid $input-border-color;
}

.access-right:focus {
    border: 1px solid $tint-color;
}

.form-control::placeholder {
    color: $placeholder-color;
    opacity: 1;
}

.login-button {
    background: $tint-color;
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}
.divider {
    height: 1px;
    background-color: $divider-color;
    margin: 20px;
}
