<app-header></app-header>
<div class="container-fluid">
    <!--Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải  -->
    <div class="row mb-3">
      <div class="col-md-8">
        <input type="text" 
          class="form-control search-input" placeholder="Tìm đơn hàng" 
          [(ngModel)]="keyword">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="searchOrders()">Tìm kiếm</button>
      </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Address</th>
            <th>Note</th>
            <th>Status</th>
            <!--
            <th>Shipping Method</th>
            <th>Shipping Address</th>
            
              <th>Shipping Date</th>
            <th>Payment Method</th>
            -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>              
              {{ order.id }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.note }}</td>
            <td>{{ order.status }}</td>
            <!--
            <td>{{ order.shipping_method }}</td>
            <td>{{ order.shipping_address }}</td>
            
            <td>{{ order.shipping_date | date }}</td>
            <td>{{ order.payment_method }}</td>
            -->
            <td>
              <div style="display: flex; gap: 10px;">
              <button 
                (click)="viewOrderDetails(order)"
                    class="btn btn-primary">
                    View Details
              </button>               
              </div>
            </td>                        
          </tr>
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" 
                    (click)="onPageChange(1)">First</a>
                </li>
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" 
                    (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <ng-container *ngFor="let page of visiblePages">
                    <li class="page-item" [ngClass]="{'active': page === currentPage}">
                        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                    </li>
                </ng-container>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                </li>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" (click)="onPageChange(totalPages)">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<app-footer></app-footer>
      